/* obstacleForm.css */

/* --- Layout containers --- */
.flex-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}
 /* Form container styling */
.form-container {
    flex: 1 1 300px;
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

/* --- Map container --- */
.map-container {
    flex: 2 1 300px;
    height: 80vh;
}

.map-box {
    width: 100%;
    height: 100%;
    border: 2px solid gray;
    border-radius: 8px;
}

/* --- Image preview --- */
#imageContainer img {
    max-height: 15rem;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* --- Checkbox styling --- */
input[type="checkbox"] {
    width: 24px;
    height: 24px;
}

/* Add spacing between checkbox and label text */
label > input[type="checkbox"] {
    margin-right: 8px;
}

/* --- Obstacle type buttons --- */
.obstacle-button {
    flex: 1 1 120px;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #1d4ed8;
    border-radius: 8px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    gap: 8px;
    cursor: pointer;  
}

/* Icon inside obtsacle buttons */
.obstacle-button i {
    font-size: 18px;
}

.obstacle-button.active {
    background-color: #1d4ed8;
    color: white;
}

/* Circle markers for line points */
.circle-marker {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

/* --- Media queries for Desktop adjustments --- */
/* Adjustments for deskop screens */
@media (min-width: 1024px) {
    .form-container {
        max-width: 800px;
    } 
}



 